{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Felvett tárgyaim</h1>
</div>

{{subject-list subjects=model}}

<p>
    <button {{action "showModal" "new-subject-modal" "subjects.list"}} class="btn btn-default">Új tárgy felvitele</button>
</p>

